@media (max-width: 450px) {
	body {
		width: 100vw;
	}

	.space-pic {
		height: 50vh;
		width: 100vw;
		overflow: hidden;
	}

	.nasa-text {
		font-size: 4rem;
		font-weight: bold;
		top: 15%;
		left: 22%;
	}

	.lower {
		flex-direction: column;
		height: 100vh;
		width: 100vw;
		justify-items: center;
		overflow: hidden;
	}

	section {
		width: 100vw;
		margin: 0% 2% 2% 2%;
		font-size: 1.5rem;
		padding: 1% auto;
		overflow: hidden;
	}

	h3 {
		font-size: 1.3rem;
	}

	p {
		font-size: 1rem;
	}

	address {
		font-size: 0.9rem;
	}

	form {
		display: block;
		font-size: 0.7rem;
	}
	label {
		display: inline-block;
	}

	input {
		display: block;
	}
	button {
		padding: none;
		font-size: 0.7rem;
	}
}

@media (max-width: 740px) {
	body {
		width: 100vw;
	}

	.space-pic {
		height: 75vh;
	}

	.nasa-text {
		font-size: 4rem;
		top: 23%;
		left: 37%;
	}

	h3 {
		font-size: 1.1rem;
	}

	p,
	address,
	label {
		font-size: 0.8rem;
	}
}

@media screen and (max-width: 740px) and (orientation: portrait) {
	.space-pic {
		height: 50vh;
	}
	.nasa-text {
		font-size: 4rem;
		top: 21%;
		left: 29%;
	}
}

@media (min-width: 750px) and (max-width: 850px) {
	body {
		width: 100vw;
	}

	.space-pic {
		height: 75vh;
	}

	.nasa-text {
		font-size: 4.5rem;
		font-weight: bold;
		top: 25%;
		left: 36%;
	}

	.lower {
		justify-content: center;
	}

	section {
		width: 260px;
		margin: 0;
		font-size: intial;
		padding: 0;
	}
}
