body {
	font-family: 'Titillium Web', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
	width: 850px;
	margin: 0% auto;
}

.space-pic {
	height: 450px;
	background-image: url(../images/milky-way-67504_640.jpg);
	background-repeat: round;
	color: whitesmoke;
}

.nasa-text {
	margin: 0%;
	font-size: 7rem;
	font-weight: bold;
	position: absolute;
	top: 17%;
	left: 41%;
	color: whitesmoke;
	background-color: transparent;
}

.lower {
	display: flex;
	height: 324px;
	overflow: hidden;
	background-color: lightgrey;
	justify-content: space-around;
	align-items: stretch;
	color: #444444;
}

section {
	width: 270px;
	font-size: 1.25rem;
	font-weight: bold;
	margin-top: 1%;
	padding: 0 2% 2%;
}

p {
	font-size: 0.9rem;
	font-weight: normal;
	margin: 5% 7% 0% 0%;
	text-align: left;
}

address {
	display: block;
	font-size: 0.9rem;
	font-weight: normal;
	margin: 5% 7% 0% 0%;
	text-align: left;
}

form {
	margin-top: 1%;
	font-size: 1rem;
	font-weight: normal;
}

#name {
	margin-bottom: 4%;
	border: 1px;
	font-size: 1rem;
	padding: 5px;
	width: 220px;
}

#comments {
	margin-top: 2%;
	border: 1px;
	font-size: 1rem;
	padding: 5px;
	width: 220px;
	height: 100px;
}

button {
	margin-top: 1%;
	padding: 0.5rem;
	font-size: 1rem;
	color: #dbdbdb;
	background-color: #717171;
}
